extends layout

block content
  .row
    .span12
      p.well Test
  .row
    .span12
      table.table.table-striped.table-bordered
        thead
          tr
            th Item
            th Room
            th Inventory Tag
            th Serial Number
            th Asset Tag
        tbody
          each item in items
            tr
              td
                a(href=item.value.url)= item.key
              td= item.value.room
              td= item.value.inventory
              td= item.value.serial
              td= item.value.assetTag